---
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">

    {% include seo.html %}

    <link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | absolute_url }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

  
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{{ site.baseurl}}{{ '/assets/js/vis.js' }}"></script>
	<link href="{{ site.baseurl}}{{ '/assets/css/vis-timeline-graph2d.min.css' }}" rel="stylesheet" type="text/css" />

    <!-- http://t.co/dKP3o1e -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script>
      document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
    </script>

    <!-- For all browsers -->
    <link href="https://fonts.googleapis.com/css?family=Gochi+Hand|Heebo:100,300,400,500,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl}}/assets/css/main.css">
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl}}{{ site.favicon}}">
    <meta http-equiv="cleartype" content="on">
  </head>

  <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}">

    {{ content }}


	<!-- rendering conference ddl -->
	<script type="text/javascript">
	  // DOM element where the Timeline will be attached
	  var container = document.getElementById('visualization');

	  // Create a DataSet (allows two way data-binding)
		var items = new vis.DataSet([{id: 1, content: ICS, start: '2018-01-18'},
		{id: 2, content: CF, start: '2018-01-21'},
		{id: 3, content: HPDC, start: '2018-01-24'},
		{id: 4, content: SIGCOMM, start: '2018-01-31'},
		{id: 5, content: ATC, start: '2018-02-06'},
		{id: 6, content: Usenix Security, start: '2018-02-08'},
		{id: 7, content: ISMM, start: '2018-02-15'},
		{id: 8, content: Euro Par, start: '2018-02-16'},
		{id: 9, content: SIGMETRICS, start: '2018-02-19'},
		{id: 10, content: HotCloud, start: '2018-03-13'},
		{id: 11, content: HotStorage, start: '2018-03-15'},
		{id: 12, content: SC, start: '2018-03-28'},
		{id: 13, content: ICPP, start: '2018-03-30'},
		{id: 14, content: MICRO, start: '2018-04-06'},
		{id: 15, content: MASCOTS, start: '2018-04-11'},
		{id: 16, content: PACT, start: '2018-04-15'},
		{id: 17, content: OOPSLA, start: '2018-04-16'},
		{id: 18, content: OSDI, start: '2018-05-03'},
		{id: 19, content: CCS, start: '2018-05-08'},
		{id: 20, content: SoCC, start: '2018-05-15'},
		{id: 21, content: Middleware, start: '2018-05-18'},
		{id: 22, content: IISWC, start: '2018-05-18'},
		{id: 23, content: APSys, start: '2018-05-31'},
		{id: 24, content: HiPEAC, start: '2018-06-01'},
		{id: 25, content: CoNEXT, start: '2018-06-22'},
		{id: 26, content: ASPLOS, start: '2018-08-07'},
		{id: 27, content: NSDI, start: '2018-09-20'},
		{id: 28, content: FAST, start: '2018-09-26'},
		{id: 29, content: EuroSys, start: '2018-10-01'},
		]);
	  // Configuration for the Timeline
	  var options = {};

	  // Create a Timeline
	  var timeline = new vis.Timeline(container, items, options);
	</script>


    <div class="page__footer">
      <footer>
        <div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}. Built using <a href="http://jekyllrb.com" rel="nofollow">Jekyll</a> &amp; <a href="http://github.com/lingxz/sparrow" rel="nofollow">Sparrow theme</a> with <span class="page__footer-heart"><i class="fa fa-heart-o" aria-hidden="true"></i></span>.</div>
      </footer>
    </div>
    
    <script src="{{ site.baseurl}}{{ '/assets/js/plugins/jquery-1.12.4.min.js' }}"></script>
    <script src="{{ site.baseurl}}{{ '/assets/js/plugins/rrssb.min.js'  }}"></script>
    <script src="{{ site.baseurl}}{{ '/assets/js/slimmenu.js' }}"></script>
    <script src="{{ site.baseurl}}{{ '/assets/js/main.js'}}"></script>
    {% include analytics.html %}

  </body>
</html>
